@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@600&display=swap");
@import url('https://fonts.cdnfonts.com/css/balmy');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-decoration: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  :root {
    --azul: #0b0ca6;
    --azul-claro: #5271ff;
    --azul-second: #3c5ffd;
    --white: #ffff;
    --dark: #;
    font-size: 62.5%;
  }
  
  body {
    background-image: url(../assets/bg.png);
      background-size: cover;
      background-repeat: no-repeat;
    
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 50px;
    box-shadow: 0 0.5px 8px #ccc;
    width: 100%;
    background: blur;
    backdrop-filter: blur(40px);
    transition: all 0.5s;
    position: fixed;
  }
  
  .navigation .logo img {
    width: 200px;
    height: 100px;
  }
  
  .navigation ul {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  
  .navigation ul li a {
    color: var(--dark);
    font-size: 2.5rem;
    font-weight: 500;
    transition: all 0.5s;
  }
  
  .navigation ul li a:hover {
    color: #432015;
  }
  
  .navigation ul li button {
    color: var(--white);
    background: var(--azul);
    border-radius: 10px;
    padding: 8px 35px;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .navigation ul li button:hover {
    background: var(--azul-claro);
  }

  .coluna {
    margin-top: 100px;
    width: 490px;
    height: 900px;
    background: #ecf0f1;
    display: block;
    float: left;
    border: 2px solid #515A66;
}

.numeros {
    margin-top: 40px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.numero  {
    width: 150px;
    height: 150px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background: #bdc3c7;
    border-radius: 100%;
    color: #ecf0f1;
    margin: 5px;
    float: left;
    cursor: pointer;
}

.title{
    width: calc(20% - 2px);
    border: 1px #000 solid;
}