

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght#300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #6537d1; 
  --decent-color: #c8c3e7;
  --accent-color: #fff;
  --secondary-color: rgb(9, 57, 189);
  --font-family: 'Poppins', sans-serif;
  --text-color: gray;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.slider-container {
  width: 2000px;
  overflow: hidden;
  height: 700px;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
 
  height: 700px;
}

.slider-wrapper input{
  display: none;
}


.container-product {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.top-element {
  color: #000;
  width: 700px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  position: absolute;
  font-family: var(--font-family);
  top: 0; 
  left: 50%; 
  transform: translateX(-50%); 
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  text-align: center;
  background: #432015;
  margin-top: 350px;
  margin-left: -100px;
  font-family: var(--font-family);
}

.produto{
    width: 500px;
}

.price-product {
    font-size: 100px;
    color: white;
}

.manual-alterar{
  position: absolute;
  width: 800px;
  margin-top: 500px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 30px;
}

.manual-btn:hover{
  background-color: #fff;
}

main{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
 
.radio-buttons {
  position: absolute;
  bottom: 60px;
  left: 50%; 
  transform: translateX(-50%);
}

.radio-buttons label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px; 
}

.radio-buttons input[type="radio"] {
  display: none;
}

.radio-buttons input[type="radio"]:checked + label {
  background-color: #555;
  color: #fff;
}




