@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
:root {
  --primary: #e8acb9;
  --marrom: #432015;
  --secondary: #436d7b;
  --marrom-claro: #ae7252;
  --dark: #;
  font-size: 62.5%;
}

body {
  background-image: url(../../assets/bg.png);
    background-size: cover;
    backdrop-filter: blur(3px);
  
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 50px;
  box-shadow: 0 0.5px 8px #ccc;
  width: 100%;
  background: blur;
  backdrop-filter: blur(40px);
  transition: all 0.5s;
  position: fixed;
}

.navigation .logo img {
  width: 200px;
  height: 100px;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 60px;
}

.navigation ul li a {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  transition: all 0.5s;
}

.navigation ul li a:hover {
  color: #000;
}

.navigation ul li button {
  color: var(--white);
  background: var(--azul);
  border-radius: 10px;
  padding: 8px 35px;
  font-size: 2rem;
  cursor: pointer;
}

.navigation ul li button:hover {
  background: var(--azul-claro);
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
  
  }
.home-text .text-h1 {
    font-size: 10rem;
    font-family: "Righteous", sans-serif;
    line-height: 2.5rem;
    color: var(--marrom);
}

.carrosel {
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  transition: transform 0.5s ease;
}

.container img {
  width: 100%;
  height: auto;
}

.premios {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
  
}
.premios-text .premios-h1 {
    font-size: 10rem;
    font-family:  "Righteous", sans-serif;
    line-height: 2.5rem;
    color: var(--marrom);
}

.container-product {
  width: 800px;
}



.slider-container {
  overflow: hidden;
  
  
}

.slider-wrapper {
  width: 720px;
  display: flex;
  transition: transform 0.5s ease;
 
}

.slide {
  flex: 0 0 100%;
  width: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  height: 600px;
}

.cover{
  background-image: url('../../src/setup.jpg');
  background-size: cover;
  width: 720px;
  height: 500px;
  background-position: center;
 
}

.cover--overlay img{
  width: 720px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0 , 0.1);
}
