<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio Bingo TLC MISS</title>
    <link rel="stylesheet" href="../public/css/cardapio2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
        <header class="header">
            <nav class="header-menu">
                <div class="logo">
                <img src="../assets/logofim.png" alt="">
                </div>
                
            
            </nav>
        </header>
        
        <div class="slider-container">
            <div class="slider-wrapper">
                <div class="slide">
                    <section class="cover">
                        <div class="cover--overlay">
                            <img src="../assets/premio1.png" alt="">
                        </div>
                    </section>
                </div>    
                <div class="slide">    
                    <section class="cover">
                        <div class="cover--overlay">
                            <img src="../assets/premio2.png" alt="">
                        </div>
                    </section> 
                </div>
                <div class="slide">    
                    <section class="cover">
                        <div class="cover--overlay">
                            <img src="../assets/premio3.png" alt="">
                        </div>
                    </section> 
                </div>
                <div class="slide">    
                    <section class="cover">
                        <div class="cover--overlay">
                            <img src="../assets/premio4.png" alt="">
                        </div>
                    </section> 
                </div>
                <div class="slide">    
                    <section class="cover">
                        <div class="cover--overlay">
                            <img src="../assets/premio5.png" alt="">
                        </div>
                    </section> 
                    
                </div>
                <div class="slide">    
                    <section class="cover">
                        <div class="cover--overlay">
                            <img src="../assets/tela6.png" alt="">
                        </div>
                    </section> 
                    
                </div>
            </div>
        </div>        
        <main>
            <!-- <div class="separeted">
                <h2 class="section-heading">Cardápio</h2>
            <div class="menu--list">
                <div class="menu--item">
                    <img src=".././src/kumara.png" style="height: 80px;" alt="">
                    <h5>Teclado</h5>
                </div>
                <div class="menu--item">
                    <img src=".././src/monitor.jpg" style="width: 120px; height: 80px;" alt="">
                    <h5>Monitor</h5>
                </div>
                <div class="menu--item">
                    <img src=".././src/mouse.png" style= "height: 80px; width: 120px;" alt="">
                    <h5>Mouse</h5>
                </div>
                <div class="menu--item">
                    <img src=".././src/headset.jpeg" style="height: 80px;" alt="">
                    <h5>Headset</h5>
                </div>
                <div class="menu--item">
                    <img src=".././src/microfone.png" style="height: 80px;" alt="">
                    <h5>Microfone</h5>
                </div>
                <div class="menu--item">
                    <img src=".././src/cadeira.jpg" style="height: 80px;" alt="">
                    <h5>Cadeira</h5>
                </div>
                <div class="menu--item">
                    <img src=".././src/placa-mae.png" style="height: 80px;" alt="">
                    <h5>Componentes</h5>
                </div>
                <div class="menu--item" >
                    <img src=".././src/placa-mae.png" style="height: 80px;" alt="">
                    <h5>Componentes</h5>
                </div>
                
            </div> -->

            <h2 class="section-heading">Cardápio</h2>
            <div class="card--list">
                <div class="card">
                    <img src="../assets/batata.png" alt="">
                    <h4 class="card--title">Batata Frita (200g)</h4>

                    <div class="card--price">
                        <div class="price">R$7,00</div>
                    </div>
                </div>
            
                <div class="card">
                    <img src="../assets/refri.png"" alt="">
                    <h4 class="card--title">Refrigerante (300ml)</h4>

                    <div class="card--price">
                        <div class="price">R$3,00</div>
                    </div>
                </div>

                <div class="card">
                    <img src="../assets/bolo.png" " alt="">
                    <h4 class="card--title">Bolo</h4>

                    <div class="card--price">
                        <div class="price">R$4,00</div>
                    </div>
                </div>

                <div class="card">
                    <img src="../assets/pernil.png" alt="">
                    <h4 class="card--title">Lanche de Pernil</h4>

                    <div class="card--price">
                        <div class="price">R$6,00</div>
                    </div>
                </div>

                <div class="card">
                    <img src="../assets/torta.png" alt="">
                    <h4 class="card--title">Torta</h4>

                    <div class="card--price">
                        <div class="price">R$4,00</div>
                    </div>
                </div>

                <div class="card">
                    <img src="../assets/agua.png" alt="">
                    <h4 class="card--title">Água</h4>

                    <div class="card--price">
                        <div class="price">R$2,00</div>
                    </div>
                </div>

                <div class="card">
                   <img src="../assets/picole.png" alt="">
                   <h4 class="card--title">Picolé</h4>

                    <div class="card--price">
                    <div class="price">R$3,00</div>
                    </div>
                </div>
            </div>
        </main>

        <script src="../public/script.js"></script>
    </body>
</html>