<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/cardapio.css">
    <link rel="icon" type="image/png" href="../assets/logo1.png"/>
    <title>Sorteador de Bingo TLC </title>
</head>
<body>
    
    <main>
        <div class="slider-container">
            <div class="slider-wrapper">
                <div class="slide">
                    <div class="container-product">
                        <div class="top-element"  style=" top: 140px; left: 86%; width: 460px; font-size: 35px;">
                            <!-- Elemento que você quer adicionar no topo -->
                            <h1>Batata Frita (200g)</h1>
                        </div>
                        <div class="product-img">
                            <img src="../assets/batata.png" style="width: 500px; height: 500px;"  alt="" class="produto">
                        </div>
                            <div class="price">
                                <h1 class="price-product">R$7,00</h1>
                            </div>
                    </div>
                </div>
                
                <div class="slide">
                    <div class="container-product">
                        <div class="top-element" style=" top: 140px; left: 78%; width: 460px; font-size: 35px;">
                            <!-- Elemento que você quer adicionar no topo -->
                            <h1>Refrigerante (300ml)</h1>
                        </div>
                        <div class="product-img">
                            <img src="../assets/refri.png" style="width: 500px; height: 500px;"  alt="" class="produto">
                        </div>

                        <div class="price">
                            <h1 class="price-product">R$3,00</h1>
                        </div>
                    </div>
                    
                </div>
                <div class="slide">
                    <div class="container-product">
                        <div class="top-element" style=" top: 150px; left: 73%; width: 460px; font-size: 45px;"">
                            <!-- Elemento que você quer adicionar no topo -->
                            <h1>Bolo</h1>
                        </div>
                        <div class="product-img">
                            <img src="../assets/bolo.png" style="width: 400px; height: 400px; " alt="" class="produto">
                        </div>

                        <div class="price">
                            <h1 class="price-product">R$4,00</h1>
                        </div>
                    </div>
                </div>
                <!-- Adicione mais slides conforme necessário -->
                <div class="slide">
                    <div class="container-product">
                        <!-- Conteúdo do quarto slide -->
                        <div class="top-element" style="top: 80px; font-size: 35px;">
                            <!-- Elemento que você quer adicionar no topo -->
                            <h1>Lanche de Pernil</h1>
                        </div>
                        <div class="product-img">
                            <img src="../assets/pernil.png" style="width: 500px; height: 600px;" alt="" class="produto">
                        </div>

                        <div class="price">
                            <h1 class="price-product">R$6,00</h1>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="container-product">
                        <div class="top-element" style="top: 100px; font-size: 45px;">
                            <!-- Elemento que você quer adicionar no topo -->
                            <h1>Torta</h1>
                        </div>
                        <!-- Conteúdo do quinto slide -->
                        <div class="product-img">
                            <img src="../assets/torta.png" style="width: 500px; height: 600px;" alt="" class="produto">
                        </div>

                        <div class="price">
                            <h1 class="price-product">R$4,00</h1>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="container-product">
                        <div class="top-element" style="top: 140px; left: 70%; font-size: 40px;">
                            <!-- Elemento que você quer adicionar no topo -->
                            <h1>Água</h1>
                        </div>
                        <!-- Conteúdo do sexto slide -->
                        <div class="product-img">
                            <img src="../assets/agua.png" style="width: 400px; height: 500px;" alt="" class="produto">
                        </div>

                        <div class="price">
                            <h1 class="price-product">R$2,00</h1>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="container-product">\
                        <div class="top-element" style="top: 160px; left: 75%; font-size: 40px;">
                            <!-- Elemento que você quer adicionar no topo -->
                            <h1>Picolé</h1>
                        </div>
                        <!-- Conteúdo do sétimo slide -->
                        <div class="product-img">
                            <img src="../assets/picole.png" style="width: 500px; height: 600px;" alt="" class="produto">
                        </div>

                        <div class="price">
                            <h1 class="price-product">R$3,00</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    
    <div class="radio-buttons">
        <input type="radio" id="radio1" name="slider" checked>
        <label for="radio1">Batata</label>

        <input type="radio" id="radio2" name="slider">
        <label for="radio2">Refrigerante</label>

        <input type="radio" id="radio3" name="slider">
        <label for="radio3">Bolo</label>

        <!-- Adicione mais botões conforme necessário -->
        <input type="radio" id="radio4" name="slider">
        <label for="radio4">Lanche de Pernil</label>

        <input type="radio" id="radio5" name="slider">
        <label for="radio5">Torta</label>

        <input type="radio" id="radio6" name="slider">
        <label for="radio6">Água</label>

        <input type="radio" id="radio7" name="slider">
        <label for="radio7">Picolé</label>
    </div>
    <script src="../public/script.js"></script>
    


    <!-- <main class="principal">
        
    </main>
     -->
</body>
</html>