<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Sorteador de Bingo TLC </title>
</head>
<body>
    <header>
        <nav class="navigation">
            <a href="../view/index.html" class="logo"><img src="../assets/logofim.png" alt="logo"></a>
            <ul class="menu">
                <li class="nav-item"><a href="../view/jogo.html">Jogar</a></li>
                <li class="nav-item"><a href="../view/premios.html">Prêmios</a></li>
                <li class="nav-item"><a href="../view/cardapio.html">Cardápio</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="home">
            <div class="home-text">
                <h1 class="text-h1">Páscoa</h1>
            </div>
            <div class="slider-container">
                <div class="slider-wrapper">
                    <div class="slide">
                        <section class="cover">
                            <div class="cover--overlay">
                                <img src="../assets/tlc2.png" alt="">
                            </div>
                        </section>
                    </div>    
                    <div class="slide">    
                        <section class="cover">
                            <div class="cover--overlay">
                                <img src="../assets/tlc3.png" alt="">
                            </div>
                        </section> 
                    </div>
                    <div class="slide">    
                        <section class="cover">
                            <div class="cover--overlay">
                                <img src="../assets/tlc4.png" alt="">
                            </div>
                        </section> 
                    </div>
                    <div class="slide">    
                        <section class="cover">
                            <div class="cover--overlay">
                                <img src="../assets/tlc5.png" alt="">
                            </div>
                        </section> 
                    </div>
                    <div class="slide">    
                        <section class="cover">
                            <div class="cover--overlay">
                                <img src="../assets/tlc6.png" alt="">
                            </div>
                        </section> 
                        
                    </div>
                    <div class="slide">    
                        <section class="cover">
                            <div class="cover--overlay">
                                <img src="../assets/tlc7.png" alt="">
                            </div>
                        </section> 
                        
                    </div>
                    <!-- <div class="slide">    
                        <section class="cover">
                            <div class="cover--overlay">
                                <img src="../assets/tlc8.png" alt="">
                            </div>
                        </section> 
                        
                    </div>
                    <div class="slide">    
                        <section class="cover">
                            <div class="cover--overlay">
                                <img src="../assets/tlc9.png" alt="">
                            </div>
                        </section> 
                        
                    </div>
                    <div class="slide">    
                        <section class="cover">
                            <div class="cover--overlay">
                                <img src="../assets/tlc10.png" alt="">
                            </div>
                        </section> 
                        
                    </div> -->
                </div>
            </div>
        </section>
    </main>
    
</body>

<script src="../public/script.js"></script>
</body>
</html>