<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Sorteador de Bingo TLC</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <a href="../view/index.html" class="logo"><img src="../assets/logofim.png" alt="logo"></a>
            <ul class="menu">
                <li class="nav-item"><a href="../view/index.html">Jogar</a></li>
                <li class="nav-item"><a href="../view/premios.html">Prêmios</a></li>
            </ul>
        </nav>
    </header>
    <section class="premios">
        <div class="premios-text">
            <h1 class="premios-h1">Prêmios</h1>
        </div>
        <div class="carrosel">
            <div class="container" id="img">
                <img src="../assets/carrosel1.jpg" alt="">
                <img src="../assets/carrosel2.jpg" alt="">
                <img src="../assets/logofim.png" alt="">
                
            </div>
        </div>
    </section>
</body>
</html>